Week 3 of DatabaseClient
Task 1

In [8]:
import sys
sys.path.append('D:\\TEST')
import mysqlcred
import mysql.connector as connector
connection = connector.connect(user = mysqlcred.user, password = mysqlcred.password, db="littlelemondb")

Task 2

In [9]:
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
for res in result:
    print(res)

('bookings',)
('city',)
('contactdetail',)
('customer',)
('menu',)
('menucategory',)
('menuitems',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('role',)
('staff',)
('state',)
('status',)

Task 3

In [10]:
sSQL = """
select * from (
	select c.Name as FullName, cd.PhoneNumber, cd.Email, Concat(ifnull(cd.Address1,''), ' ', ifnull(cd.Address2, '')) as Address, city.CITY, state.State, concat(cd.zipCode, '-', ifnull(cd.Zip4,'')) as ZIP, quantity * m.Price as TotalCost from customer c inner join orders o on c.idCustomer = o.Customer_idCustomer
		inner join menu m on o.Menu_idMenu = m.idMenu
		left join contactdetail cd on c.ContactDetail_idContactDetail = cd.idContactDetail
		left join city on city.idcity = cd.city_idcity
		left join state on state.idState = cd.State_idState
	)  A  
where TotalCost > 60
"""
cursor.execute(sSQL)
result = cursor.fetchall()
for res in result:
	print(res)

('Ace Ventura', '111-222-3333', 'abc@gmail.com', '1 Main Street Suite 200', 'Los Angeles', 'CA', '90024-', Decimal('75.00'))
('David Kim', '714-444-3333', '4bc@orange.com', '1 Orange Way ', 'Orange', 'CA', '93124-', Decimal('120.00'))